In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("/kaggle/input/titanic-dataset/Titanic-Dataset.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Spilling the data into independent and dependent variables

In [6]:
x=df[["Pclass","Sex","Age"]]

In [7]:
y=df.Survived

In [8]:
x.isnull().sum()

Pclass      0
Sex         0
Age       177
dtype: int64

Fill the empty spaces in Age column

In [9]:
x.Age.fillna(x.Age.mean(),inplace=True)

In [10]:
x.isnull().sum()

Pclass    0
Sex       0
Age       0
dtype: int64

In [11]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

Converting string to numerical

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le=LabelEncoder()

In [14]:
gen=le.fit_transform(x.Sex)

In [15]:
x["Gender"]=gen

In [16]:
x.drop("Sex",axis=1,inplace=True)

In [17]:
x

     Pclass        Age  Gender
0         3  22.000000       1
1         1  38.000000       0
2         3  26.000000       0
3         1  35.000000       0
4         3  35.000000       1
..      ...        ...     ...
886       2  27.000000       1
887       1  19.000000       0
888       3  29.699118       0
889       1  26.000000       1
890       3  32.000000       1

[891 rows x 3 columns]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

In [20]:
len(train_x),len(test_x)

(712, 179)

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
model=LogisticRegression()

In [23]:
model.fit(train_x,train_y)

LogisticRegression()

In [24]:
model.score(test_x,test_y)

0.8044692737430168

In [25]:
x.head()

   Pclass   Age  Gender
0       3  22.0       1
1       1  38.0       0
2       3  26.0       0
3       1  35.0       0
4       3  35.0       1

In [26]:
if model.predict([[3,7,1]])[0]==1:
    print("Survived")
else:
    print("Not Survived")

Not Survived